<div *ngIf="QFlag" id="QUICK_ANSWER" style="padding:20px;">
  <input *ngIf="QFlag" class="input-Q" [(ngModel)]="QString" placeholder="Команды, ответившие правильно">
  <button *ngIf="QFlag" (click)="QAnswerApl()">Внести</button>
  <button *ngIf="QFlag" (click)="QAllAdd()">Внести всех</button>
  <button *ngIf="QFlag" (click)="QAllDel()">Удалить всех</button>
</div>

<div id="START_PAGE">
  <div *ngIf="isNewGame">
    <p >Кол-во вопросов</p>
    <input [(ngModel)]="QuestCount" placeholder="name">
    <p >Кол-во раундов</p>
    <input [(ngModel)]="RaundCount" placeholder="name">
    <br><br>
    <button  (click)="CreateGame()">Построить</button>
  </div>
</div>

<!-- ТУТ ТАБЛИЦА-->

<div *ngIf="!isNewGame" id="RESULT_PAGE">
    <h3>РЕЗУЛЬТАТЫ</h3>
    <p>{{Result}}</p>
    <hr>
    <table id="resultTable" >
    </table>
    <hr>
    <div id="CATEGOR_TABLES">
    </div>
    <hr>
</div> 

